include LICENSE
include README.md
global-include src/wagtail_admin_preview/templates *
global-exclude .git
global-exclude .git/ *
global-exclude .gitignore
global-exclude __pycache__
global-exclude *.pyc